################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Frontend/.vs
/Frontend/.vscode
/node_modules
docker-compose.release.yml
